<style>
  .collapse{
    display: flex;
    align-items: end;
  }
</style>

<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <div class="me-auto">
            </div>
            <div class="d-flex">
              <ul class="navbar-nav list-inline">
                <li class="nav-item list-inline-item">
                    <a routerLink="" class="text-white text-decoration-none me-4">Home</a>
                </li>
                <li class="nav-item list-inline-item">
                  <a routerLink="employee" class="text-white text-decoration-none me-4">Employee</a>
              </li>
                <li class="nav-item list-inline-item">
                    <a routerLink="contact" class="text-white text-decoration-none me-4">Contact</a>
                </li>
                <li class="nav-item">
                    <a routerLink="user" class="text-white text-decoration-none me-4">User</a>
                </li>
            </ul>
            </div>
        </div>
    </div>
</nav>
</div>
<router-outlet></router-outlet>